.contWelcome {
    background-color: #B19BC4;
    height: 100vh;
}

.contLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contLogo img {
    width: 20%;
}

.contSaludo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.frase {
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    color: #fff;
}

.saludo {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #fff;
}

.contLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.links {
    color: #fff;
    border: 1px solid #fff;
    padding: 1em 5em;
    border-radius: 1em;
    margin: 1.5em 0em;
    width: 30em;
}

.links p {
    color: #fff;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

a {
    text-decoration: none;
}

.contDescrip p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

