.card {
    margin: 0.5rem 1rem 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    width: 45% !important;
    box-shadow: 5px 5px 5px rgba(114, 114, 114, 0.662);
}

.cardImage img {
    width: 100%;
}

.cardImage:hover{
    opacity: 0.5;

}

.cardTitle {
    color: #000;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #B19BC4;
}

.cardContent {
    padding: 0px 14px;
    border-radius: 0 0 2px 2px;
    font-family: 'Roboto', sans-serif;
}


