
.navbar-nav {
    background-color: #f8f9fa;
}

i.material-icons {
    line-height: 0px !important;
    height: auto !important;
}

nav a {
    text-decoration: none !important;
}

.nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
