.contTitleCart {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.contCartIcon {
    display: flex;
}

.titleCart {
    display: flex;
}

.titleCart p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.contProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2em 0;
   
}

.contDetail {
    border: solid #969696 1px;
    border-radius: 12px;
    padding: 2rem;
}

.contAmount {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.contProductosAdd p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}



.contVaciar button {
    background-color: #D16060;
    border: 0;
    color: #fff;
    padding: 0.5em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

.contVaciar button i {
    color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    padding: 0 0.2em 0 0 !important;
}

.contTotalFin {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    
}

.line {
    height: 1px;
    background-color: #969696;
    width: 100%;
    margin: 1em 0;
}

.contTotalLine {
    border: solid #969696 1px;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contTotal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.totalTxt {
    margin-right: 10em;
}

.totalTxt p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
}   

.totalNum p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
} 

.contComprar {
    display: flex;
}

.contComprar button {
    background-color: #8F9EC7;
    border: 0;
    color: #fff;
    padding: 0.5em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;

}

.contComprar button i {
    color: #fff !important;
    margin: 0 !important;
    padding: 0 0.2em 0 0 !important;
    display: flex;
}

.carritoVacio p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.carritoVacio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.carritoVacio button {
    background-color: #8F9EC7;
    border: 0;
    color: #fff;
    padding: 0.5em 1.5em;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

@media screen and (max-width: 778px) {
    .contProducts {
        width: 90%;
        margin: auto;
    }

    .titleCart p {
        font-size: 2em;
        margin: 0;
    }

    .contDetail {
        width: 100%;
        margin-top: 2em;
        padding: 1em;
    }

    .contTotalLine {
        margin-top: 2em;
    }

    
}